body {

    h1,h2,h3,h4,h5,h6, strong {
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-weight: 800;
    }

    .btn-primary { 
        border-radius: 0;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .btn-dark {
        border-radius: 0;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    
    .input-group {
        width: 150px;
    }

    .alert-danger {
        padding: .1rem .5rem !important;
    }

    .zwift-row {

        h4 {
            margin: 0;
        }
        .zwift-color {
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
            color: #fff;
            height: 35px;
            width: 35px;
            border-radius: 50%;

            background-color: #000;
        }
    }

    .learn-more {
        list-style: none;
        padding:0;
    }

    .zwift-list {

        list-style: none;
        padding: 0;

        .za, .zb, .zc, .zd {
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
            color: #fff;
            height: 35px;
            width: 35px;
            border-radius: 50%;
        }
        .za {
            background-color: #FA472C;
        }
        .zb {
            background-color: #5BC252;
        }
        .zc {
            background-color: #44BFE8;
        }
        .zd {
            background-color: #FCD030;
        }

    }

    
}